<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Available Heroes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="full">
    <ion-list-header>
      <ion-select placeholder="Order by" (ionChange)="tapFilter($event)">
        <ion-select-option value="amount">Order by Amount</ion-select-option>
        <ion-select-option value="ratings">Order by Ratings</ion-select-option>
      </ion-select>
    </ion-list-header>
    <ion-item *ngFor="let hero of heroes">
        <ion-avatar slot="start" (click)="view(hero);">
          <img *ngIf="hero.profile.photo!=null" src="{{img_link+hero.profile.photo}}">
          <img *ngIf="hero.profile.photo==null" src="{{default_photo}}">
        </ion-avatar>
        <ion-label>
          <h2>{{hero.profile.first_name}} {{hero.profile.last_name}}</h2>
          <ion-icon slot="icon-only" name="star"></ion-icon>
          <ion-icon slot="icon-only" name="star"></ion-icon>
          <ion-icon slot="icon-only" name="star"></ion-icon>
          <ion-icon slot="icon-only" name="star"></ion-icon>
          <ion-icon slot="icon-only" name="star"></ion-icon>
          <h3>₱ {{ (hero.pivot.pay_per*1)*(input.payper) }}</h3>
          <p *ngFor="let address of hero.profile.addresses" class="hero-address">
            <!-- <ion-icon name="car"></ion-icon> 5.39 mi --> 
            <ion-icon name="pin"></ion-icon> 
            <span *ngIf="address.street!=null">{{address.street}},&nbsp;</span> 
            <span *ngIf="address.barangay!=null">{{address.barangay}},&nbsp;</span> 
            <span *ngIf="address.city!=null">{{address.city}},&nbsp;</span> 
            <span *ngIf="address.province!=null">{{address.province}},&nbsp;</span> 
            <span *ngIf="address.country!=null">{{address.country}}&nbsp;</span> 
            <span *ngIf="address.zip!=null">{{address.zip}}</span><br>
          </p>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="selectHero(hero)">
            <ion-icon slot="icon-only" name="add-circle"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>  
</ion-content>

