
<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="body">
    <ion-row class="text-center">
      <ion-col>
        <img src="../../assets/img/header-logo.png" class="logo">
        <button class="signout-btn" (click)="logout()">Signout</button>
      </ion-col>
    </ion-row>
    <ion-row class="user">
      <ion-col col-12>
        <img class="img" src="{{photo}}"><br>
        <span class="label">Welcome Back</span><br>
        <span class="name" *ngIf="user != undefined">{{ profile["first_name"]  }}</span><br>
      </ion-col>
    </ion-row>

    <span class="service-label">
      Job Summary
    </span>
  </div>  

  <ion-list lines="none">
      <ion-row padding class="form-header"><ion-col class="text-center">Summary</ion-col></ion-row>
      <ion-row padding class="form-bar">
      	<ul class="progress">
    	  <li class="progress__circle progress--active progress--done"></li>
    	  <li class="progress__bar progress--done"></li>
    	  <li class="progress__circle progress--active progress--done"></li>
    	  <li class="progress__bar progress--done"></li>
    	  <li class="progress__circle progress--active progress--done"></li>
    	</ul>

      </ion-row>
      <ion-row padding>
    	  <ion-grid>
    	  	
    	  <ion-row>
    	    <span class="label">Service Type </span>
    	    <span class="value">{{ service.name }}</span>
    	  </ion-row>

    	  <ion-row>
    	    <span class="label">Job Status </span>
    	    <span class="value">{{ service.status }}</span>
    	  </ion-row>

    	  <ion-row>
    	    <span class="label">Service Amount </span>
    	    <span class="value">{{ service.amount }}</span>
    	  </ion-row>

    	  <ion-row>
    	    <span class="label">Service Person </span>
    	    <span class="value">{{ service.provider }}</span>
    	  </ion-row>
    	</ion-grid>
    </ion-row>
    <button class="btn btn-login" routerLink="/tabs/job" routerDirection="root" >DONE</button>
  </ion-list>  
</ion-content>
