
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullingText="Release to refresh"
      refreshingSpinner="crescent"
      >
    </ion-refresher-content>
  </ion-refresher>
  <div class="body">
    <ion-row>
      <ion-col col-6><img src="../../assets/img/header-logo.png" class="logo"></ion-col>
      <ion-col col-6><button class="signout-btn" (click)="logout()">Signout</button></ion-col>
    </ion-row>
    <ion-row class="user">
      <ion-col col-12>
        <img class="img" src="{{photo}}"><br>
        <span class="label">Welcome</span><br>
        <span class="name" *ngIf="user != undefined">{{ profile["first_name"]  }}</span><br>
      </ion-col>
    </ion-row>

    <span class="service-label" (click)="tapBack()">
      <ion-icon slot="start" name="arrow-back"></ion-icon> {{title}}
    </span>
  </div>  
  <ion-list lines="none">
    <ion-row padding class="form-bar">
      <ul class="progress">
        <li class="progress__circle progress--active progress--done"></li>
        <li class="progress__bar"></li>
        <li class="progress__circle"></li>
        <li class="progress__bar"></li>
        <li class="progress__circle"></li>
      </ul>
    </ion-row>

    <div *ngFor="let a of attributes">
      <ion-row padding class="form-header"><ion-col class="text-center">{{a.title}}</ion-col></ion-row>
      <ion-row padding class="field-wrap" *ngFor="let field of a.fields">
        <span class="field-text">{{field.label}} <span *ngIf="field.required" class="required"> *required</span></span>
        
        <ion-label class="field-label"><ion-icon name="{{field.icon}}" class="field-icon"></ion-icon></ion-label>
        
        <ion-input *ngIf="field.type == 'text'" class="field" [(ngModel)]="field.input" placeholder="{{field.label}}"></ion-input>
        
        <ion-datetime *ngIf="field.type == 'date'" [(ngModel)]="field.input" display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY" placeholder="{{field.label}}" class="field-date"></ion-datetime>
        
        <ion-datetime *ngIf="field.type == 'time'" [(ngModel)]="field.input" display-format="hh:mm a" picker-format="hh:mm a" placeholder="{{field.label}}" class="field-date"></ion-datetime>
        
        <ion-textarea *ngIf="field.type == 'textarea'" [(ngModel)]="field.input" placeholder="{{field.label}}" class="field" ></ion-textarea>
        
        <ion-select *ngIf="field.type == 'dropdown'" [(ngModel)]="field.input" placeholder="{{field.label}}" class="field" >
          <ion-select-option *ngFor="let select of field.values" value="{{select}}">{{select}}</ion-select-option>
        </ion-select>
      
      </ion-row>
    </div>

    <div>
      <ion-row padding class="form-header"><ion-col class="text-center">Customer Information</ion-col></ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Name</span>
        <ion-label class="field-label"><ion-icon name="person" class="field-icon"></ion-icon></ion-label>
        <ion-input class="field" required [(ngModel)]="customer_info.name" placeholder="Name"></ion-input>
      </ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Address</span>
        <ion-label class="field-label"><ion-icon name="pin" class="field-icon"></ion-icon></ion-label>
        <ion-textarea [(ngModel)]="customer_info.address" placeholder="Address" class="field" ></ion-textarea>
      </ion-row>
      <!-- <ion-row padding class="field-wrap">
        <span class="field-text">Contact</span>
        <ion-label class="field-label"><ion-icon name="call" class="field-icon"></ion-icon></ion-label>
        <ion-input class="field" [(ngModel)]="customer_info.contact" placeholder="Contact"></ion-input>
      </ion-row> -->
    </div>

    <div>
      <ion-row padding class="form-header"><ion-col class="text-center">Schedule</ion-col></ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Date of service <span class="required"> *required</span></span>
        <ion-label class="field-label"><ion-icon name="calendar" class="field-icon"></ion-icon></ion-label>
        <ion-datetime [(ngModel)]="schedule_date" min="{{current_date}}" max="{{next_year}}" display-format="MMM DD, YYYY" picker-format="MMM DD, YYYY" placeholder="Date" class="field-date"></ion-datetime>
      </ion-row>
      <ion-row padding class="field-wrap">
        <span class="field-text">Time <span class="required"> *required</span></span>
        <ion-label class="field-label"><ion-icon name="clock" class="field-icon"></ion-icon></ion-label>
        <ion-datetime [(ngModel)]="schedule_time" display-format="hh:mm a" picker-format="hh:mm a" placeholder="Time" class="field-date"></ion-datetime>
      </ion-row>
    </div>

    <div *ngIf="quote_enable == 'No'">
      <ion-row padding class="form-header"><ion-col class="text-center">Number of Hours</ion-col></ion-row>
      <ion-row padding class="field-wrap">
        <!-- <span class="field-text">How many {{payType}}/s?</span> -->
        <ion-label class="field-label"><ion-icon name="clock" class="field-icon"></ion-icon></ion-label>
        <ion-input class="field" [(ngModel)]="payper" placeholder="Number of Hours"></ion-input>
      </ion-row>
    </div>

    <button class="btn btn-login" (click)="findHero()"  *ngIf="quote_enable == 'No'">{{button_text}}</button>
    <button class="btn btn-login" (click)="requestQuote()"  *ngIf="quote_enable == 'Yes'">{{button_text}}</button>
  </ion-list>
    
</ion-content>
