:host {

	$brown: #64492e;
	$lbrown: #c0976b;
	$dark-blue: #101622;
	$bg-blue: #141c2f;
	$gradient-blue: #233951;
	$menu-blue: #101622;
	$item-blue: #314e70;
	$blue: #2d4b67;
	$gold: #d9a978;

	

	$light-pink: #FE8B85;

	.hero-wrap {
		padding-bottom: 0;

		.hero-name {
			color: #fff;
			font-size: 12pt;
			width: 80%;
			font-weight: bold;
		}

		.service-amount {
			color: $gold;
			width: 20%;
		}
	}

	.star-wrap {
		padding-bottom: 0;
		padding-top: 5px;
		color: $gold;
		font-size: 9pt;
	}

	.location-wrap {
		padding-bottom: 10px;
		padding-top: 5px;
		color: $gold;
		font-size: 9pt;
		border-bottom: 1px dashed $gold;
	}
	.form-header {
		color: $gold;
		font-weight: bold;
	}

  ion-item {
      --background: linear-gradient(to right, rgb(35,59,85) 0%,rgb(49,78,112) 100%);
      // --border-radius: 50px 50px 10px 50px;
      color: $gold;
      margin-bottom: 5px;

      ion-icon.arrow {
      	color: $gold;
      	margin-left: 2px;
      }

      ion-icon.with-border {
      	border-radius: 50px;
      	border: 5px solid $bg-blue;
      	background: $bg-blue;
      	color: $gold;
      	margin-right: 10px;
      }

      ion-label {
      	line-height: 15px;

      	.info {
      		color: #fff;
      		font-size: 8pt;
      	}
      }
  }
}
