<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hero Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="{{photo}}">
    <ion-card-header>
      <ion-card-subtitle>{{ user.profile.gender }}</ion-card-subtitle>
      <ion-card-title>{{ name }}</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      Ratings: 
      <ion-icon slot="icon-only" name="star" *ngFor="let item of [].constructor(user.rating); let i = index"></ion-icon>
      <ion-icon slot="icon-only" name="star-outline" *ngFor="let item of [].constructor(5 - user.rating); let i = index"></ion-icon>
      <br>
      <ion-icon slot="icon-only" name="pin"></ion-icon> {{ address }} <br>
    </ion-card-content>
  </ion-card>

  <ion-item-divider>
    <ion-label>
      RATINGS & REVIEWS
    </ion-label>
  </ion-item-divider>

  <ion-card *ngFor="let review of user.reviews">
    <ion-card-header>
      <ion-card-subtitle>{{review.created_at}}</ion-card-subtitle>
      <ion-card-title>{{ parse(review.customer_info).name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon slot="icon-only" name="star" *ngFor="let item of [].constructor(review.star); let i = index"></ion-icon>
      <ion-icon slot="icon-only" name="star-outline" *ngFor="let item of [].constructor(5 - review.star); let i = index"></ion-icon>
      <br>
      {{review.comment}}
    </ion-card-content>
    </ion-card>
</ion-content>
